

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

@-moz-document url-prefix() {
    .scrollbar {
        overflow: auto;
        width: 0.4em !important;
        scroll-behavior: smooth !important;
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3) !important;
        background-color: darkgrey !important;
        outline: 1px solid slategrey !important;
        border-radius: 10px !important;
    }
    .scrollbar {
        overflow: auto;
        width: 0.4em !important;
        scroll-behavior: smooth !important;
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3) !important;
        background-color: darkgrey !important;
        outline: 1px solid slategrey !important;
        border-radius: 10px !important;
    }
}

::-webkit-scrollbar {
    width: 0.4em !important;
    height: 0.5em !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3) !important;
}


::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
    border-radius: 10px !important;
}
::-webkit-scrollbar-corner {
    background: transparent;
  }


.appsBtn, .appsHtxt {
    font-family: Arial, Helvetica, sans-serif;
}
.appsHtxt {
	color: white;
    text-align: center;
}
.appsHtxt::before {
    content: "Apps";
}

.currenttheme::before {
    content: "Default";
}
    
.currentversion::before {
    content: "22600.21";
}

.appsBtn {
    top: 1px;
    position: relative;
}

.desktopIcons, #appsmenu, .windowHeader {
	-webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

#time { 
                position:absolute;           
                top:11px;
                color: white;
                font-family: 'Helvetica', 'Arial', sans-serif;
                text-align: center;
                width: 97%;
                font-size: 15px;
}
 .right { 
                right:0;

 }

desktop {
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
	background-color: #3bdefa;
    background-image: url(../images/bgdark.jpg);
    background-size: cover;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
}

#darktext {
    color: black;
}

#settingsh1 {
    font-size: 1.5em;
    line-height: 10px;
    margin: 15px 5px;
    color: black;

}


#settingsbutton {
        border: 2px solid #2C2C2B;
        border-radius: 5px;
        font-size: 15px;
        /* padding: 1px 4px; */
        background: #CCC;
        font-weight: bold;
        cursor: pointer;
        height: 30px;
        margin: 0px 2px;
}

#settingshr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #2C2C2B;
    margin: 0.5em 0 !important;
    padding:0
}
#tabsettings {
    overflow-y: scroll;
    display: inline-flex;
    width: 99%;
    margin: 4px 0px;
}
#themesrow {
    overflow-x: scroll;
    display: flex;
    width: 99%;   
    position: absolute;
}



#timecontainer {
  height: 42px;
  width: 74px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;

 
}



.themedropdown {
  position: relative;
  display: inline-block;
}

.themedropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; 
  box-shadow: 0px 0px 15px 0px #000000;
  padding: 12px 16px;
  z-index: 1;
  height: 200px;
  top: 35px;
  left: 5px;
  overflow-y: scroll;
}

.themedropdown:hover .themedropdown-content {
  display: block;
}

.themedropdown a {
  border: 2px black solid;
  padding: 5px 5px;
  color: black;
  border-radius: 5px;
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
}

#window7 .ui-resizable-handle {
    display: none !important;
}
#window7 .winmaximize {
    display: none !important;
}
#window4 .winmaximize {
    display: none !important;
}
#window4 .ui-resizable-handle {
    display: none !important;
}


#appsmenu {
    position: fixed;
    margin: 0 auto;
    width: 450px;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 55px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background-color: #2c2c2cad;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
}

#appsmenu.opened {
    height: 450px; 
}




#appicons {
	position: absolute;
	z-index: 10;
	top: 52px;
	height: 80%;
	/* left: 5px; */
	/* overflow-y: scroll; */
}
#appicons a {
    display: inline-table;
    cursor: pointer;
    padding: 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}
#appicons a:hover {
	background: rgb(255, 255, 255);
	color: black;
}






#apps {
    display: inline-block;
    border: transparent;
    border-radius: 4px;
    font-size: 15px;
    padding: 0px 5px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    height: 0px;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
}


#apps img:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    border-radius: 4px;
}
#apps img {
    transition: 0.5s;
    margin: 0px 5px;
}

a {
color: white;
}

h1 {
    color: white;
}

#window6 > .wincontent iframe {
    height: calc(100% - 20px);
}

.window {
    position: absolute;
    border: 2px solid #2C2C2B;
    background: #eeeeee80;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 7px;
    z-index: 1000;
}


.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 7px;
    bottom: 44px !important;
}

.window.fullSizeWindow .wincontent {
	padding: 0px 10px;
}

body {
	overflow: hidden;
}
.bottomBtns {
	position: absolute;
	bottom: 2px;
	right: 15px;
}
.bottomBtns a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: transparent;
}

.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    text-align: right;
    border-bottom: 2px solid transparent;
    padding: 2px;
    border-radius: 5px;
    cursor: move;
    height: 25px;
}


.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 15px;
    padding: 4px 8px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 50px;
    line-height: 10px;
    width: 10px;
    height: 14px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}

.windowHeader > span > span {
    display: inline-block;
    height: 6px;
    width: 8px;
    position: absolute;
    top: 5px;
    left: 8px;
}
.winminimize > span {
	border-bottom: 2px solid #2C2C2B;
}
.winmaximize > span {
	border: 2px solid #2C2C2B;
	border-top: 3px solid #2C2C2B;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
	top: 5px !important;
	left: 8px !important;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 2px !important;
    left: 10px !important;
}
.wincontent {
    min-width: 200px;
    min-height: 140px;
    border: 2px solid transparent;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}

.winclose span {
left: 10px;
}

.winclose > .priClose {
    left: 5px;
    top: 2px;
}

.winmaximize > span {
    top: 5px !important;
    left: 7px !important;
}

.winminimize > span {
	left: 0px;
}

.windowHeader > strong {
    color: black;
    transform: translate(-50%, -50%);
    left: 50%;
    background: none !important;
    top: 14px;
    padding-left: 0px !important;
    float: unset;
    margin: unset;
    line-height: unset;
    position: absolute;
    font-size: 15px;
}
.task {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
    line-height: 12px;
    font-size: 15px;
    margin: 0 10px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.5s;
    padding: 0 1px;
}


.task.activeTab {
    transform: scale(1.45);
    background-color: #2e2e2e;
}

.task:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.task.minimizedTab {
    transform: scale(1.35);
    transition: 0.5s;
}
.task.minimizedTab:hover {
    transform: scale(1.35);
}
.task.closed {
    display: none;
    transition: 0.5s;
    
}
#taskbar {
	position: absolute;
	height: 42px;
	border-top: 2px solid transparent;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0 auto;
	background: #2c2c2cad;
    /*border-radius: 50px;*/
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
	z-index: 99998;
    transition: 1s;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
    text-align: center;
}

#icons {
	position: absolute;
	z-index: 10;
	top: 5px;
	left: 20px;
}
#icons a {
    display: table;
    cursor: pointer;
    padding: 2px 10px;
	text-align: center;
	word-break: break-all;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.2s;
}
#icons a:hover {
	background: rgba(0, 0, 0, 0.3);
	color: #FFF;
}
#watermark {
    position: absolute;
    display: none;
    bottom: 60px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99998;


}

#abranding {
    display: inline-flex;
   align-items:center;
   font-size: 1.6em;
   font-weight: bold;

}











/*Demo styles BEGIN*/
#window0 {	top: 35px;	left: 240px;}
#window1 {	top: 400px; left: 120px;}
#window2 {	top: 250px; left: 300px;}
#window3 {	top: 125px; left: 420px;}
#window4 {	top: 35px;	left: 240px;}
#window5 {	top: 35px;	left: 240px;}
#window6 {	top: 35px;	left: 240px;}
#window7 {	top: 35px;	left: 110px;}


#window0 .wincontent {	width: 660px; height: 400px;	}
#window1 .wincontent {	width: 500px; height: 300px;	}
#window2 .wincontent {	width: 282px; height: 350px;	}
#window3 .wincontent {	width: 450px; height: 450px;	}
#window4 .wincontent {	width: 255px; height: 248px;	}
#window5 .wincontent {	width: 640px; height: 480px;	}
#window6 .wincontent {	width: 830px; height: 635px;	}
#window7 .wincontent {	width: 325px; height: 325px;	}




@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
	#window3 {	left: 50px;	}	
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
	#window2 {	left: 100px;	}
	#window1 {	top: 190px;	left: -5px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}
#window3 .wincontent {
    width: 275px;
    height: auto;
}
#window3 {    top: 9px;    left: 10px;	}
#window2 {    left: -118px;	}
#window1 .wincontent {    width: auto;    height: 300px;	}
}
